@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>@specialGreeting</h1>

<button @onclick="SpecialHello">Are you Martin ?</button>


@code{
    private string specialGreeting = "Hello.";

    private void SpecialHello(){
        specialGreeting = "Hello Martin.";
    }
}