@page "/plantes";
@using System.Text.Json;
@inject MesPlantes plantes;
@inject PlantesData favPlant;
@rendermode InteractiveServer
@inject IJSRuntime JS

<PageTitle>Plantes</PageTitle>


@if (favPlant.Common_Name != null)
{
    <p>Your favourite plant is the @favPlant.Common_Name</p>
}
else
{
    <button @onclick="GetFav">Display favourite plant</button>
}

@if (plantes.Data == null)
{
    <p>Loading...</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Common name</th>
                <th scope="col">Scientific name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var value in plantes.Data)
            {
                <tr>
                    <th scope="row">@value.ID</th>
                    <td>@value.Common_Name</td>
                    <td>@value.Scientific_Name</td>
                    <td><button @onclick="() => SaveData(value.ID)">Declare as your favourite plant</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    protected async override Task OnInitializedAsync()
    {
        await GetData();
    }

    private async Task GetData()
    {
        var client = new HttpClient();
        var request = new HttpRequestMessage(HttpMethod.Get, "https://trefle.io/api/v1/plants?token=3n1NrNVnKIHT6Wo7YkcVturVj65CiQ3tUElZETZOByo");
        var response = await client.SendAsync(request);
        response.EnsureSuccessStatusCode();
        plantes = new MesPlantes().DeserializeUsingGenericSystemTextJson(await response.Content.ReadAsStringAsync());
    }

    public async Task SaveData(int? id)
    {
        foreach (var value in plantes.Data)
        {
            if(id == value.ID)
            {
                var json = JsonSerializer.Serialize(value);
                await JS.InvokeVoidAsync("localStorage.setItem", "plant", json);
                await GetFav();
            }
        }
    }

    public async Task GetFav()
    {
        var newFavPlant = await JS.InvokeAsync<string>("localStorage.getItem", "plant");
        favPlant = new PlantesData().DeserializeFav(newFavPlant);
    }
}
